@mixin make-transform($property) {
    -moz-transform: $property;
    -webkit-transform: $property;
    -o-transform: $property;
    -ms-transform: $property;
    transform: $property;
}

$transition-base: all 0.3s ease-in-out;

@mixin font($fs, $lh, $fw: null) {
    font-size: toRem($fs);
    line-height: toRem($lh);
    font-weight: $fw;
}

@mixin margin($t, $r, $b, $l) {
    margin: toRem($t) toRem($r) toRem($b) toRem($l);
}

@mixin padding($t, $r, $b, $l) {
    padding: toRem($t) toRem($r) toRem($b) toRem($l);
}

@mixin padding_all($val) {
    padding: toRem($val);
}

@mixin padding_tb($t, $b) {
    padding: toRem($t) 0 toRem($b) 0;
}

@mixin padding_tb_rl($tb, $rl) {
    padding: toRem($tb) toRem($rl);
}

@mixin bp-mobile {
    @include media-breakpoint-down(md) {
        @content;
    }
}

@mixin bp-tablet {
    @include media-breakpoint-down(lg) {
        @content;
    }
}