.quantity {
    background: #F0F0F0;
    border-radius: 27px;
    width: fit-content;
    padding: 0 toRem(15);
    margin-right: toRem(15);
    input {
        width: toRem(40);
        padding: toRem(15) 0;
        margin-bottom: 0;
        border: none;
        text-align: center;
    }
    button {
        border: none;
        cursor: pointer;
        background: transparent;
        img {
            width: toRem(12);
        }
    }
}

.shop {
    @include padding(130, 0, 130, 0);
    background: #FBFBFB;
    .shop-category {
        .category-item {
            .title {
                margin-bottom: toRem(25);
                display: flex;
                align-items: center;
                img {
                    width: toRem(10);
                    margin-right: toRem(10);
                }
                span {
                    letter-spacing: 0.48px;
                    color: #192160;
                    text-transform: capitalize;
                    @include font(24, 28, 700);
                }
            }
            padding: toRem(30);
            background: white;
            box-shadow: 0px 6px 12px #1921600F;
            margin-bottom: toRem(35);
            ul {
                li {
                    display: flex;
                    justify-content: space-between;
                    @include padding (10, 0, 10, 0);
                    a {
                        letter-spacing: 0.36px;
                        color: #313131;
                        text-transform: uppercase;
                    }
                    span {
                        display: block;
                        font-size: toRem(16);
                        color: #192160;
                        height: toRem(30);
                        width: toRem(30);
                        background: #F0F0F0;
                        text-align: center;
                        line-height: toRem(30);
                        font-weight: 600;
                    }
                    &:not(:last-child) {
                        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
                    }
                }
            }
        }
        .category-item.filter {
            ul {
                li {
                    &:not(:last-child) {
                        border-bottom: none;
                    }
                    a {
                        text-transform: capitalize;
                    }
                }
            }
        }
    }
    .shop-products {
        .sort-show {
            display: flex;
            justify-content: space-between;
        }
        .pagination {
            display: flex;
            align-items: center;
            gap: toRem(20);
            .icon {
                width: toRem(20);
            }
        }
    }
}

.products-detail {
    @include padding(130, 0, 130, 0);
    .products-detail-content {
        padding-left: 5rem;
        @include bp-tablet {
            padding-left: 0;
        }
        .title {
            @include font(48, 57, 600);
            font-family: $rubik;
            color: #1D1D1D;
        }
        .price {
            @include font(48, 28, 700);
            color: #EF8250;
        }
        ul {
            li {
                margin-bottom: toRem(15);
                display: flex;
                align-items: center;
                &::before {
                    content: "";
                    display: block;
                    height: toRem(18);
                    width: toRem(18);
                    border: toRem(4) solid #EF8250;
                    margin-right: toRem(15);
                    border-radius: 50%;
                }
            }
        }
        .slect-wrap {
            display: flex;
            align-items: center;
            label {
                width: 20%;
                letter-spacing: 0.36px;
                color: #1D1D1D;
                font-weight: 600;
            }
            select {
                width: toRem(290);
            }
        }
        .quantity-wrapper {
            display: flex;
        }
    }
    .products-description {
        @include padding(130, 0, 0, 0);
        ul {
            display: flex;
            align-items: center;
            margin-bottom: toRem(30);
            li {
                padding: toRem(19) toRem(34);
                color: #313131;
                text-transform: uppercase;
                font-family: $rubik;
                font-weight: 500;
                margin-right: toRem(18);
                border-top: 3px solid #EF8250;
                cursor: pointer;
                &.active {
                    background: #EF8250;
                    color: #FAFAFA;
                    text-transform: uppercase;
                }
            }
        }
    }
}

.related-products {
    @include padding(130, 0, 130, 0);
    background: #F0F0F0;
}

.shopping-cart {
    @include padding(130, 0, 130, 0);
    form {
        table {
            width: 100%;
            border-collapse: collapse;
            thead {
                background: #192160;
                tr {
                    th {
                        padding: toRem(25) 0;
                        color: #FAFAFA;
                        text-transform: capitalize;
                        font-family: $rubik;
                        font-weight: 500;
                    }
                    th:first-child {
                        width: 10%;
                    }
                    th:nth-child(2) {
                        width: 40%;
                        text-align: left;
                    }
                }
            }
            tbody {
                tr {
                    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
                    td {
                        @include padding(28, 0, 28, 0);
                    }
                }
                .close {
                    width: toRem(35);
                }
                .product {
                    display: flex;
                    align-items: center;
                    .image {
                        width: toRem(100);
                        flex-shrink: 0;
                        margin-right: toRem(30);
                        border: 1px solid #70707033;
                    }
                    .title {
                        letter-spacing: 0.36px;
                        color: #313131;
                        font-weight: 600;
                    }
                }
                .subtotal,
                .price {
                    text-align: center;
                    font-weight: 600;
                }
                .quantity-wrap {
                    display: flex;
                    justify-content: center;
                }
            }
        }
        .cart-wrap {
            display: flex;
            justify-content: space-between;
            margin-top: toRem(30);
            @include bp-mobile {
                flex-direction: column;
                margin-bottom: toRem(40);
            }
            .coupon-wrap {
                .title {
                    letter-spacing: 0.36px;
                    @include font(18, 28, 600);
                    margin-bottom: toRem(20);
                }
                .title-sub {
                    letter-spacing: 0.36px;
                    color: #A7A09E;
                }
                input {
                    border-radius: 24px;
                    background: #F0F0F0;
                    border: none;
                    &::placeholder {
                        letter-spacing: 0.36px;
                        color: #A7A09E;
                        @include font(18, 28, 500);
                    }
                }
                button {
                    background: #A7A09E;
                    a {
                        color: #FAFAFA;
                        font-family: $rubik;
                    }
                    &:hover {
                        background: $c-ef8250;
                    }
                }
            }
        }
    }
    .order-summary {
        @include padding(30, 50, 30, 50);
        background: #F0F0F0;
        table {
            width: 100%;
            thead {
                tr {
                    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
                    th {
                        padding: toRem(15) 0;
                        &:first-child {
                            text-align: left;
                            color: #070707;
                            text-transform: uppercase;
                            font-family: $rubik;
                            @include font(24, 25, 600);
                        }
                        &:last-child {
                            text-align: right;
                            color: #070707;
                        }
                    }
                }
            }
            tbody,
            tfoot {
                tr {
                    th,
                    td {
                        padding: toRem(15) 0;
                        color: #070707;
                        @include font (18, 25, 500);
                    }
                    th {
                        text-align: left;
                    }
                    td {
                        text-align: right;
                    }
                }
            }
            tfoot {
                tr {
                    border-top: 1px solid rgba(0, 0, 0, 0.3);
                    th,
                    td {
                        @include font (18, 25, 700);
                    }
                }
            }
        }
    }
    .button {
        margin-top: toRem(40);
        text-align: center;
        button {
            width: 90%;
        }
    }
}

.checkout {
    @include padding(130, 0, 130, 0);
    .item-title {
        letter-spacing: 0.96px;
        color: #192160;
        text-transform: uppercase;
        font-family: $rubik;
        @include font(24, 72, 700);
    }
    form {
        label {
            color: #070707;
            @include font(18, 24, 500);
        }
        input,
        select,
        textarea {
            width: 100%;
        }
        .form-wrap {
            display: flex;
            gap: toRem(30);
            .form-group {
                width: 100%;
            }
        }
        .checkbox-wrap {
            display: flex;
            align-items: center;
            input,
            label {
                margin-bottom: 0;
                margin-right: toRem(15);
                width: fit-content;
            }
        }
        ul {
            li {
                margin-bottom: toRem(15);
                padding: toRem(10) toRem(14);
                border: 1px solid #5650414D;
                border-radius: 5px;
                display: flex;
                justify-content: space-between;
                .img {
                    width: toRem(125);
                }
            }
        }
    }
    .cart-summary {
        padding-left: toRem(50);
        @include bp-tablet {
            padding-left: 0;
        }
        form {
            background: #F0F0F0;
            padding: toRem(40);
            table {
                width: 100%;
                tr {
                    td,
                    th {
                        text-align: center;
                        vertical-align: middle;
                        padding-bottom: toRem(15);
                    }
                    td:last-child {
                        text-align: right;
                        color: #192160;
                    }
                }
                tbody {
                    tr:last-child {
                        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
                        td {
                            padding-bottom: toRem(30);
                        }
                    }
                }
                tfoot {
                    tr {
                        td {
                            padding: toRem(15) 0;
                        }
                        td:first-child {
                            text-align: left;
                            color: #070707;
                        }
                    }
                    tr:last-child {
                        border-top: 1px solid rgba(0, 0, 0, 0.2);
                        td:first-child {
                            font-weight: 700;
                        }
                        td:last-child {
                            font-weight: 600;
                        }
                    }
                }
                .thumbnail {
                    display: flex;
                    align-items: center;
                    img {
                        width: toRem(70);
                    }
                    p {
                        margin-bottom: 0;
                        letter-spacing: 0.18px;
                        color: #070707;
                        text-transform: capitalize;
                        padding-left: toRem(10);
                    }
                    span {
                        color: #A7A09E;
                        padding-left: toRem(10);
                    }
                }
            }
        }
        .button {
            margin-top: toRem(30);
            text-align: center;
            .btn-wrap {
                width: 90%;
            }
        }
    }
}

.thankyou {
    @include padding(120, 0, 120, 0);
    .thankyou-notification {
        margin-bottom: toRem(120);
        .order-number {
            letter-spacing: 0.48px;
            color: #EF8250;
            @include font (24, 28, 700);
        }
        .points {
            padding: toRem(42) 0;
            background: #EF8250;
            @include font(23, 28, 600);
            color: #F0F0F0;
            letter-spacing: 0.46px;
        }
    }
    .order-title {
        @include padding(0, 59, 0, 59);
        letter-spacing: 0.96px;
        color: #FAFAFA;
        text-transform: uppercase;
        @include font(24, 72, 700);
        background: #192160;
    }
    .order-details {
        form {
            @include padding(0, 59, 0, 59);
            table {
                width: 50%;
                @include bp-tablet {
                    width: 100%;
                }
                thead {
                    tr {
                        th {
                            @include font(24, 72, 700);
                            letter-spacing: 0.96px;
                            color: #313131;
                            text-align: left;
                            text-transform: capitalize;
                            &:first-child {
                                width: 50%;
                            }
                        }
                    }
                }
                tbody {
                    tr {
                        td {
                            padding-bottom: toRem(15);
                            &:last-child {
                                color: #192160;
                            }
                        }
                    }
                }
            }
        }
    }
    .thankyou-order-summary {
        form {
            table {
                th,
                td {
                    &:first-child {
                        padding-left: toRem(59);
                        @include bp-mobile {
                            padding-left: 0;
                        }
                    }
                }
                thead {
                    tr {
                        th {
                            background: white;
                            color: #313131;
                            &:first-child {
                                width: 40%;
                                text-align: left;
                            }
                            &:nth-child(2) {
                                width: auto;
                                text-align: center;
                            }
                        }
                    }
                }
            }
        }
        .order-summary {
            background: white;
            padding: 0;
            table {
                th,
                td {
                    &:first-child {
                        padding-left: toRem(59);
                        @include bp-mobile {
                            padding-left: 0;
                        }
                    }
                }
            }
        }
    }
}